[package]
name = "ignis_type"
edition = "2024"
authors.workspace = true
description.workspace = true
keywords.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true

[dependencies]
ahash = "0.8.12"
ordered-float.workspace = true
